[package]
edition.workspace = true
name = "clerk"
version.workspace = true

[dependencies]
chrono = { workspace = true, optional = true }
owo-colors = { workspace = true, optional = true }
tracing = { workspace = true, optional = true }
tracing-core = { workspace = true, optional = true }
tracing-subscriber = { workspace = true, optional = true }

[features]
log = [
  "dep:tracing",
  "dep:tracing-subscriber",
  "dep:owo-colors",
  "dep:chrono",
  "dep:tracing-core",
]
