name: rust-CI

on:
  workflow_dispatch:
  workflow_call:

permissions: read-all

env:
  RUST_ROOT: ./rust

jobs:
  cargo-test:
    strategy:
      fail-fast: false
      matrix:
        machine: [windows-latest, ubuntu-latest, macos-latest, ubuntu-24.04-arm]
        args:
          - --workspace --all-features --exclude clerk
          - --features tracing -p clerk
          - --no-default-features --features macros -p mischief
          - --no-default-features -p rax -p rax-nmea
    runs-on: ${{matrix.machine}}
    steps:
      - uses: actions/checkout@v6

      - uses: dtolnay/rust-toolchain@nightly

      - name: Set up pixi
        uses: prefix-dev/setup-pixi@v0.9.3
        with:
          run-install: false
      - name: cargo-test
        run: ${{env.RUST_ROOT}}/scripts/cargo-test.ps1 ${{matrix.args}}
        shell: pwsh

      - name: Upload results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/codecov-action@v5

      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/codecov-action@v5
        with:
          report_type: test_results
          fail_ci_if_error: true

  cargo-miri:
    strategy:
      fail-fast: false
      matrix:
        machine: [windows-latest, ubuntu-latest, macos-latest, ubuntu-24.04-arm]
    runs-on: ${{matrix.machine}}
    steps:
      - uses: actions/checkout@v6

      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: "miri"

      - name: cargo-miri
        run: ${{env.RUST_ROOT}}/scripts/cargo-miri.ps1
        shell: pwsh
  cargo-doc:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        args:
          - --workspace --all-features --exclude clerk
          - --features tracing -p clerk
    steps:
      - uses: actions/checkout@v6
      - name: cargo-doc
        run: ${{env.RUST_ROOT}}/scripts/cargo-doc.ps1 ${{matrix.args}}
        shell: pwsh
