name: CI

on:
  workflow_dispatch:
  workflow_call:
    inputs:
      release:
        type: boolean
        default: false
  push:
    branches: main
    paths-ignore:
      - "*.md"
  pull_request:
    types:
      - opened
      - edited
      - synchronize
      - ready_for_review
    paths-ignore:
      - "*.md"
  schedule:
    - cron: 0 16 * * *

permissions: read-all

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  changed:
    outputs:
      changed-python: ${{ steps.main.outputs.python_any_changed }}
      changed-rust: ${{ steps.main.outputs.rust_any_changed }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        if: ${{github.event_name == 'pull_request'}}
      - id: main
        uses: tj-actions/changed-files@v46
        if: ${{github.event_name == 'pull_request'}}
        with:
          files_yaml: |
            python:
              - ./python/**
              - ./.github/workflows/ci-python.yml
            rust:
              - ./rust/**
              - ./.github/workflows/ci-rust.yml

  pre-commit:
    if: ${{ !inputs.release }}
    uses: Glatzel/template/.github/workflows/pre-commit.yml@main

  python-ci:
    needs: changed
    if: ${{ needs.changed.outputs.changed-python != 'false' }}
    uses: ./.github/workflows/ci-python.yml
    with:
      release: ${{inputs.release&& inputs.release || false}}

  rust-ci:
    needs: changed
    if: ${{ needs.changed.outputs.changed-rust != 'false' }}
    uses: ./.github/workflows/ci-rust.yml
    with:
      release: ${{inputs.release&& inputs.release || false}}
