name: Release

on:
  workflow_dispatch:
    inputs:
      tag:
        type: string
        required:  true


concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  check-and-build:
    uses: ./.github/workflows/ci.yml
    with:
      release: true

  release:
    needs: [check-and-build]
    uses: Glatzel/template/.github/workflows/release.yml@main
    with:
      override: true
      tag: ${{inputs.tag}}
      have-changelog: true
      assets: false
