name: Release

on:
  workflow_dispatch:
    inputs:
      tag:
        description: "Tag to release (e.g., v1.2.3)"
        type: string
        required: true

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  build-python:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up pixi
        uses: prefix-dev/setup-pixi@v0.9.3
        with:
          run-install: false

      - name: build
        run: pixi run rattler-build build
        working-directory: ./python

      - name: upload
        if: ${{runner.os=='Linux'}}
        uses: actions/upload-artifact@v6
        with:
          name: toolbox-python
          path: |
            ./python/rattler/output/*/*.conda
          if-no-files-found: error

  release:
    needs: [build-python]
    uses: Glatzel/template/.github/workflows/release.yml@main
    with:
      override: true
      tag: ${{ inputs.tag }}
      have-changelog: true
      assets: true
